In [20]:
import pandas as pd
import numpy as np
import sklearn as sk

In [26]:
# Load the data
df = pd.read_csv('/Users/laurensversluis/Downloads/ENB2012_data.csv')
df.head()

,relative_compactness,surface_area,wall_area,roof_area,overall_height,orientation,glazing_area,glazing_area_distribution,heating_load,cooling_load
0,0.98,514.5,294.0,110.25,7.0,2.0,0.0,0.0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3.0,0.0,0.0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4.0,0.0,0.0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5.0,0.0,0.0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2.0,0.0,0.0,20.84,28.28

In [19]:
# Prepare the data
for i,v in enumerate df

NameError: name 'da' is not defined